@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto CRUD cidade</h1>
    <p class="lead">Apresentação de um CRUD de cadastro de cidade onde cidade leva o id de um estado e o estado o id de um pais</p>
</div>